**Using** **pandas** **Library**

In [46]:

#1. **Read an Excel File**
import pandas as pd

df = pd.read_excel('file.xlsx')
print(df)

           Name  Age        Position  Salary Date of Joining
0   Rohan Gupta   28    Data Analyst   55000      2021-04-10
1  Priya Sharma   32      HR Manager   65000      2020-11-05
2    Neha Verma   25    Software Eng   72000      2022-01-15
3   Aarav Patel   29      Accountant   60000      2021-06-25
4     Kiran Rao   31  Marketing Head   85000      2019-09-12

In [47]:
#2. **Read a Specific Sheet**
import pandas as pd

df = pd.read_excel('file.xlsx', sheet_name='Sheet1')
print(df)

           Name  Age        Position  Salary Date of Joining
0   Rohan Gupta   28    Data Analyst   55000      2021-04-10
1  Priya Sharma   32      HR Manager   65000      2020-11-05
2    Neha Verma   25    Software Eng   72000      2022-01-15
3   Aarav Patel   29      Accountant   60000      2021-06-25
4     Kiran Rao   31  Marketing Head   85000      2019-09-12

In [48]:
#3. **Read Multiple Sheets**

import pandas as pd

dfs = pd.read_excel('file.xlsx', sheet_name=['Sheet1', 'Sheet2'])
for sheet, df in dfs.items():
    print(f"Sheet: {sheet}")
    print(df)

Sheet: Sheet1
           Name  Age        Position  Salary Date of Joining
0   Rohan Gupta   28    Data Analyst   55000      2021-04-10
1  Priya Sharma   32      HR Manager   65000      2020-11-05
2    Neha Verma   25    Software Eng   72000      2022-01-15
3   Aarav Patel   29      Accountant   60000      2021-06-25
4     Kiran Rao   31  Marketing Head   85000      2019-09-12
Sheet: Sheet2
    Age  EstimatedSalary  Purchased
0    19            19000          0
1    35            20000          0
2    26            43000          0
3    27            57000          0
4    19            76000          0
5    27            58000          0
6    27            84000          0
7    32           150000          1
8    25            33000          0
9    35            65000          0
10   26            80000          0
11   26            52000          0
12   20            86000          0

In [49]:
#4. **Read an Excel File with Custom Header**

import pandas as pd

df = pd.read_excel('file.xlsx', header=None)
print(df)

              0    1               2       3                4
0          Name  Age        Position  Salary  Date of Joining
1   Rohan Gupta   28    Data Analyst   55000       2021-04-10
2  Priya Sharma   32      HR Manager   65000       2020-11-05
3    Neha Verma   25    Software Eng   72000       2022-01-15
4   Aarav Patel   29      Accountant   60000       2021-06-25
5     Kiran Rao   31  Marketing Head   85000       2019-09-12

In [50]:
#5. **Read Only Specific Columns**

import pandas as pd

df = pd.read_excel('file.xlsx', usecols=['Name', 'Position'])
print(df)

           Name        Position
0   Rohan Gupta    Data Analyst
1  Priya Sharma      HR Manager
2    Neha Verma    Software Eng
3   Aarav Patel      Accountant
4     Kiran Rao  Marketing Head

In [51]:
#6. **Write DataFrame to Excel**

import pandas as pd

df = pd.DataFrame({'Name': ['Alice', 'Bob'], 'Age': [30, 25]})
df.to_excel('output.xlsx', index=False)

In [52]:
#7. **Write DataFrame to a Specific Sheet**

import pandas as pd

df = pd.DataFrame({'Name': ['Alice', 'Bob'], 'Age': [30, 25]})
with pd.ExcelWriter('output.xlsx') as writer:
    df.to_excel(writer, sheet_name='Sheet1', index=False)

In [53]:
#8. **Append Data to an Existing Excel File**

import pandas as pd

df = pd.DataFrame({'Name': ['Charlie'], 'Age': [35]})
with pd.ExcelWriter('output.xlsx', mode='a', engine='openpyxl') as writer:
    df.to_excel(writer, sheet_name='Sheet3', index=False, header=False)

In [54]:
#9. **Read Excel File with Specific Data Types**

import pandas as pd

df = pd.read_excel('file.xlsx', dtype={'Age': int})
print(df)

           Name  Age        Position  Salary Date of Joining
0   Rohan Gupta   28    Data Analyst   55000      2021-04-10
1  Priya Sharma   32      HR Manager   65000      2020-11-05
2    Neha Verma   25    Software Eng   72000      2022-01-15
3   Aarav Patel   29      Accountant   60000      2021-06-25
4     Kiran Rao   31  Marketing Head   85000      2019-09-12

In [55]:
#10. **Read Excel File and Skip Rows**

import pandas as pd

df = pd.read_excel('file.xlsx', skiprows=2)
print(df)

  Priya Sharma  32      HR Manager  65000  2020-11-05
0   Neha Verma  25    Software Eng  72000  2022-01-15
1  Aarav Patel  29      Accountant  60000  2021-06-25
2    Kiran Rao  31  Marketing Head  85000  2019-09-12

In [56]:
#11. **Save Excel File with Index**

import pandas as pd

df = pd.DataFrame({'Name': ['Alice', 'Bob'], 'Age': [30, 25]})
df.to_excel('output.xlsx', index=True)

In [57]:
#12. **Read Excel File with Cell Formatting**

import pandas as pd

df = pd.read_excel('file.xlsx', engine='openpyxl')
print(df)

           Name  Age        Position  Salary Date of Joining
0   Rohan Gupta   28    Data Analyst   55000      2021-04-10
1  Priya Sharma   32      HR Manager   65000      2020-11-05
2    Neha Verma   25    Software Eng   72000      2022-01-15
3   Aarav Patel   29      Accountant   60000      2021-06-25
4     Kiran Rao   31  Marketing Head   85000      2019-09-12

In [58]:
#13. **Read and Write Excel with Formulas**
import openpyxl

# Create a new Excel workbook and select the active sheet
wb = openpyxl.Workbook()
sheet = wb.active

# Write data to the sheet
sheet['A1'] = 10
sheet['A2'] = 20

# Write a formula (sum of A1 and A2) in cell A3
sheet['A3'] = '=SUM(A1:A2)'

# Save the workbook
wb.save("example_with_formula.xlsx")
print("Excel file created with formula.")

Excel file created with formula.

In [59]:
# Code Example to Read Excel with Formulas:

import openpyxl

# Load the Excel workbook
wb = openpyxl.load_workbook("example_with_formula.xlsx", data_only=True)  # data_only=True returns the result of the formula
sheet = wb.active

# Access cell A3, which contains a formula
value = sheet['A3'].value
print(f"Value of A3 (formula result): {value}")

# If you want to see the actual formula instead of the result, load the workbook without `data_only=True`
wb_with_formula = openpyxl.load_workbook("example_with_formula.xlsx")
sheet_with_formula = wb_with_formula.active

formula = sheet_with_formula['A3'].value
print(f"Formula in A3: {formula}")

Value of A3 (formula result): None
Formula in A3: =SUM(A1:A2)

In [60]:
#15. **Extract Data from Excel File and Process**

import pandas as pd

df = pd.read_excel('file.xlsx')
processed_data = df['Age'].apply(lambda x: x * 2)
print(processed_data)

0    56
1    64
2    50
3    58
4    62
Name: Age, dtype: int64

In [61]:
#16. **Read Excel File and Handle Missing Values**

import pandas as pd

df = pd.read_excel('file_with_na.xlsx', na_values=['NA', 'N/A'])
print(df)

           Name  Age        Position  Salary Date of Joining
0   Rohan Gupta   28    Data Analyst   55000      2021-04-10
1  Priya Sharma   32      HR Manager   65000      2020-11-05
2    Neha Verma   25    Software Eng   72000      2022-01-15
3   Aarav Patel   29      Accountant   60000      2021-06-25
4     Kiran Rao   31  Marketing Head   85000      2019-09-12

In [62]:
#18. **Write Multiple DataFrames to Different Sheets**

import pandas as pd

df1 = pd.DataFrame({'Name': ['Ramesh'], 'Age': [30]})
df2 = pd.DataFrame({'City': ['Mumbai'], 'State': ['Maharashtra']})

with pd.ExcelWriter('output_multiple.xlsx') as writer:
    df1.to_excel(writer, sheet_name='Sheet1', index=False)
    df2.to_excel(writer, sheet_name='Sheet2', index=False)

In [63]:
#19. **Read Excel File and Drop Unnecessary Columns**

import pandas as pd

df = pd.read_excel('file.xlsx')
df = df.drop(columns=['Date of Joining'])
print(df)

           Name  Age        Position  Salary
0   Rohan Gupta   28    Data Analyst   55000
1  Priya Sharma   32      HR Manager   65000
2    Neha Verma   25    Software Eng   72000
3   Aarav Patel   29      Accountant   60000
4     Kiran Rao   31  Marketing Head   85000

In [64]:
#20. **Convert Excel DataFrame to CSV**

import pandas as pd

df = pd.read_excel('file.xlsx')
df.to_csv('output.csv', index=False)

**Using** **openpyxl** **Library**

In [65]:


#21. **Read an Excel File**

from openpyxl import load_workbook

wb = load_workbook('file.xlsx')
sheet = wb.active
for row in sheet.iter_rows(values_only=True):
    print(row)

('Name', 'Age', 'Position', 'Salary', 'Date of Joining')
('Rohan Gupta', 28.0, 'Data Analyst', 55000.0, '2021-04-10')
('Priya Sharma', 32.0, 'HR Manager', 65000.0, '2020-11-05')
('Neha Verma', 25.0, 'Software Eng', 72000.0, '2022-01-15')
('Aarav Patel', 29.0, 'Accountant', 60000.0, '2021-06-25')
('Kiran Rao', 31.0, 'Marketing Head', 85000.0, '2019-09-12')

In [66]:
#22. **Write to an Excel File**

from openpyxl import Workbook

wb = Workbook()
ws = wb.active
ws.append(['Name', 'Age'])
ws.append(['Suresh', 30])
ws.append(['Neetu', 25])
wb.save('output.xlsx')

In [67]:
#23. **Read a Specific Sheet**

from openpyxl import load_workbook

wb = load_workbook('file.xlsx')
sheet = wb['Sheet1']
for row in sheet.iter_rows(values_only=True):
    print(row)

('Name', 'Age', 'Position', 'Salary', 'Date of Joining')
('Rohan Gupta', 28.0, 'Data Analyst', 55000.0, '2021-04-10')
('Priya Sharma', 32.0, 'HR Manager', 65000.0, '2020-11-05')
('Neha Verma', 25.0, 'Software Eng', 72000.0, '2022-01-15')
('Aarav Patel', 29.0, 'Accountant', 60000.0, '2021-06-25')
('Kiran Rao', 31.0, 'Marketing Head', 85000.0, '2019-09-12')

In [68]:
#24. **Write to a Specific Sheet**

from openpyxl import Workbook

wb = Workbook()
ws = wb.create_sheet('Sheet1')
ws.append(['Name', 'Age'])
ws.append(['Suresh', 30])
wb.save('output.xlsx')

In [69]:
#25. **Append Data to an Existing Sheet**

from openpyxl import load_workbook

wb = load_workbook('output.xlsx')
ws = wb['Sheet1']
ws.append(['Naresh', 35])
wb.save('output.xlsx')

In [70]:
#26. **Read Excel with Cell Formatting**

from openpyxl import load_workbook

wb = load_workbook('file.xlsx', data_only=True)
sheet = wb.active
for row in sheet.iter_rows(values_only=True):
    print(row)

('Name', 'Age', 'Position', 'Salary', 'Date of Joining')
('Rohan Gupta', 28.0, 'Data Analyst', 55000.0, '2021-04-10')
('Priya Sharma', 32.0, 'HR Manager', 65000.0, '2020-11-05')
('Neha Verma', 25.0, 'Software Eng', 72000.0, '2022-01-15')
('Aarav Patel', 29.0, 'Accountant', 60000.0, '2021-06-25')
('Kiran Rao', 31.0, 'Marketing Head', 85000.0, '2019-09-12')

In [71]:
#27. **Write Excel with Formatting**

from openpyxl import Workbook
from openpyxl.styles import Font

wb = Workbook()
ws = wb.active
ws.append(['Name', 'Age'])
ws.append(['Suresh', 30])
ws.append(['Naman', 25])

for cell in ws['A']:
    cell.font = Font(bold=True)
wb.save('formatted_output.xlsx')

In [72]:
#28. **Create Excel with Charts**

from openpyxl import Workbook
from openpyxl.chart import BarChart, Reference

wb = Workbook()
ws = wb.active
ws.append(['Name', 'Age'])
ws.append(['Naresh', 30])
ws.append(['Neha', 25])

chart = BarChart()
data = Reference(ws, min_col=2, min_row=1, max_col=2, max_row=3)
chart.add_data(data, titles_from_data=True)
ws.add_chart(chart, "E5")

wb.save('chart_output.xlsx')

In [73]:
from openpyxl import load_workbook

wb = load_workbook('file.xlsx')
sheet = wb.active
for row in sheet.iter_rows(values_only=True):
    try:
        # Attempt to convert the value to an integer
        age = int(row[1])
        if age > 25:  # Now compare as integers
            print(row)
    except ValueError:
        # Handle cases where the value can't be converted to an integer
        print(f"Skipping row: {row} - Could not convert age to integer.")

Skipping row: ('Name', 'Age', 'Position', 'Salary', 'Date of Joining') - Could not convert age to integer.
('Rohan Gupta', 28.0, 'Data Analyst', 55000.0, '2021-04-10')
('Priya Sharma', 32.0, 'HR Manager', 65000.0, '2020-11-05')
('Aarav Patel', 29.0, 'Accountant', 60000.0, '2021-06-25')
('Kiran Rao', 31.0, 'Marketing Head', 85000.0, '2019-09-12')

In [74]:
#30. **Convert Excel File to DataFrame with `openpyxl`**

import pandas as pd
from openpyxl import load_workbook

wb = load_workbook('file.xlsx', data_only=True)
sheet = wb.active

data = sheet.values
columns = next(data)[0:]
df = pd.DataFrame(data, columns=columns)
print(df)

           Name   Age        Position   Salary Date of Joining
0   Rohan Gupta  28.0    Data Analyst  55000.0      2021-04-10
1  Priya Sharma  32.0      HR Manager  65000.0      2020-11-05
2    Neha Verma  25.0    Software Eng  72000.0      2022-01-15
3   Aarav Patel  29.0      Accountant  60000.0      2021-06-25
4     Kiran Rao  31.0  Marketing Head  85000.0      2019-09-12

These examples cover a wide range of operations for handling Excel files using both `pandas` and `openpyxl`, from basic reading and writing to more advanced tasks like formatting and chart creation.